button {
  width: 100%;
  cursor: pointer;
  margin-top: 26px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #22223b;
  color: #fefefe;
  float: right;
}
button:hover {
  background-color: #4a4e69;
  color: #fefefe;
}
